{% extends "layout.html" %}
{% block content %}
    <h1>Home page</h1>
    <br>
    {% for strain in strains %}
    <article class="media">
        <div class="media-body">
            <div class="article-metadata">
                <p><a class="article-title" href="{{ url_for('strain', strain_id=strain.id) }}">{{ strain.number }} {{ strain.name }}</a></p>
            </div>
        </div>
    </article>
    {% endfor %}
    <!-- {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.content }}</a></p>
            </div>
        </article>
    {% endfor %} -->
{% endblock content %}