{% extends "layout.html" %}
{% block content %}
    <h1>Search strain</h1>

    <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Host</th>
            <th scope="col">Vector</th>
            <th scope="col">Vector type</th>
            <th scope="col">Selection marker</th>
            <th scope="col">Box</th>
            <th scope="col">Slot</th>
            <th scope="col">Date of creation</th>
          </tr>
        </thead>
        <tbody>
            {% for strain in strains %}
            <tr>
                <th scope="row" ><a class="article-title" href="{{ url_for('strain', strain_id=strain.id) }}">{{ strain.number }}</a></th>
                <td><a class="article-title" href="{{ url_for('strain', strain_id=strain.id) }}">{{ strain.name }}</a></td>
                <td><i><a class="article-title" href="{{ url_for('search_strain', host=strain.host) }}">{{ strain.host }}</a></i></td>
                <td>{{ strain.vector }}</td>
                <td>{{ strain.vector_type }}</td>
                <td>{{ strain.selection_marker }}</td>
                <td><a class="article-title" href="{{ url_for('search_strain', box=strain.box) }}">{{ strain.box }}</a></td>
                <td>{{ strain.slot }}</td>
                <td>{{ strain.date_of_creation }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock content %}